<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title> Switchable Grid Data</title>
		<link href="style.css" rel="stylesheet" />
	</head>

	<body ng-app="switchableGrid" ng-controller="SwitchableGridController">
	<h3>Switchable Data with Angular</h3>
	    <div class="bar">
		    <a href="#" class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
		    <a href="#" class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
	    </div>
		
		<ul ng-show="layout == 'grid'" class="grid">
            <li ng-repeat="person in people">
                <p>Name : &nbsp;{{person.name }} 
                ,&nbsp; Age:{{person.age}}</p>
            </li>
			
		</ul>

		<ul ng-show="layout == 'list'" class="list">
           
            <li ng-repeat="person in people">Name : &nbsp;{{person.name }}
            ,&nbsp; Age:{{person.age}} </li>
			
		</ul>
		<div class="intro">
        <a href="https://www.facebook.com/sonu.kr.vtu" target="_blank">By Sonu</a>
	</div>
		<script src="angular.min.js"></script>
		<script src="angular-resource.min.js"></script>
        <script src="script.js"></script>
	</body>
</html>
